@model Practice.Core.ViewModels.ForgotPasssword
@{
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
        <div class="text-center mb-4">
            <h4>Forgot your password?</h4>
            <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="form-label-group">
                    @Html.TextBoxFor(m => m.Email, new { @id = "inputEmail", @class = "form-control", @type = "email", @placeholder = "Enter email address", @required = "required", autofocus = "autofocus" })
                    <label for="inputEmail">Enter email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            </div>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.RouteUrl("Register")">Register an Account</a>
            <a class="d-block small" href="@Url.RouteUrl("Login")">Login Page</a>
        </div>
    </div>
</div>