@{
    Layout = "~/Views/Shared/_accountLayout.cshtml";
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <p>
            Please check your email to reset your password.
        </p>
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.RouteUrl("Login")">Login Page</a>
            <a class="d-block small mt-3" href="@Url.RouteUrl("Index")">Dashboard</a>
        </div>
    </div>
</div>
