
@{
    ViewBag.Title = "Reset Password Comfirmation";
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <p>Your password has been reset. Please click <a href="@Url.RouteUrl("Login")">here</a> to log in</p>
    </div>
</div>
