@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStoreModal">Create</button>
</p>

<table class="table table-bordered" id="table">
    <thead>
        <tr>
            <th>Nazwa sklepu</th>
            <th>Adres</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th>Kraj</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.Partial("CreateStoreModalPartial")
@Html.Partial("EditStoreModalPartial")
@Html.Partial("DeleteStoreModalPartial")

@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/js/store.js"></script>
}