@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    ViewBag.ActivePage = "Stores";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.RouteUrl("Stores")">Stores</a>
    </li>
    <li class="breadcrumb-item active">List</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Stores
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#createStoreModal"><i class="fas fa-fw fa-plus"></i> Create new store</button>

        <div class="table-responsive">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th>Nazwa sklepu</th>
                        <th>Adres</th>
                        <th>Kod pocztowy</th>
                        <th>Miasto</th>
                        <th>Kraj</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@Html.Partial("CreateStoreModalPartial")
@Html.Partial("EditStoreModalPartial")
@Html.Partial("DeleteStoreModalPartial")

@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/js/store.js"></script>
}