@model IEnumerable<Practice.Core.ViewModels.History>

@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    ViewBag.ActivePage = "History";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.RouteUrl("History")">History</a>
    </li>
    <li class="breadcrumb-item active">List</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        History
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@Html.Partial("EditHistoryPartial")
@Html.Partial("DeleteHistoryPartial")

@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/js/history.js"></script>
}